<%- include("parts/header") %>
<% var error, success %>
 <!-- INTRO -->
 <section class="site-intro">
    <div class="flex-container">
       <div class="site-intro__left" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
          <h1>Biz sizning foydangiz uchun tarjima qilamiz</h1>
          <p>Hozirni o’zida bizga yozma yoki audio tarjima buyurtiring va <strong>50% Chegirmaga</strong> ega bo’ling
          </p>
          <a href="#contact">Buyurtma berish</a>
       </div>
       <div class="site-intro__right" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
          <img src="img/intro/girl.png" alt="">
       </div>
    </div>
 </section>

 <!--ABOUT US-->
 <section class="section about-us" id="about-us">
    <div class="container">
       <h2>Biz haqimizda</h2>
       <p data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Vestibulum egestas et rutrum ullamcorper gravida
          ante
          fermentum. Natoque ornare sed bibendum etiam. Convallis blandit a, et hendrerit quam eget. Turpis tortor
          faucibus lorem venenatis condimentum neque turpis mi. Pulvinar ultrices senectus nibh et id ornare dui.
          Nullam
          in sodales fermentum tellus ipsum quisque condimentum.</p>
    </div>
    <img class="about-us__decoration" src="img/about-us/bg-left.png" alt="">
    <img class="about-us__decoration about-us__decoration--right" src="img/about-us/bg-right.png" alt="">
 </section>

 <!-- SERVICES -->
 <section class="section services" id="services">
    <div class="container">
       <h2>Servislar</h2>
       <div class="services-cards">
          <div class="services-cards__left" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
             <div class="services-card">
                <img src="img/services/1.svg" alt="">
                <h3>Shaxsiy dakumentlar</h3>
                <p>Shaxsiy dakumentlarni (Pasport,Diplom,Attestat va h.k.z.) bir tildan boshqa tilga tarjima qilish
                </p>
                <a href="#">Buyurtma berish</a>
             </div>
          </div>
          <div class="services-cards__right" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
             <div class="services-card">
                <img src="img/services/2.svg" alt="">
                <h3>B2B tarjima</h3>
             </div>
             <div class="services-card">
                <img src="img/services/3.svg" alt="">
                <h3>Saytlarni tarjima qilish</h3>
             </div>
             <div class="services-card">
                <img src="img/services/4.svg" alt="">
                <h3>Tezkor tarjima</h3>
             </div>
             <div class="services-card">
                <img src="img/services/5.svg" alt="">
                <h3>B2C tarjimalar</h3>
             </div>
             <div class="services-card">
                <img src="img/services/4.svg" alt="">
                <h3>B2C tarjimalar</h3>
             </div>
             <div class="services-card">
                <img src="img/services/6.svg" alt="">
                <h3>Hujjatlarni tiklash</h3>
             </div>
          </div>
       </div>
    </div>
 </section>

 <!-- WHY WE -->
 <section class="section why-we" id="why-we">
    <div class="container">
       <h2>Nega aynan biz?</h2>
       <div class="why-we__cards" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
          <div class="why-we__card">
             <img src="img/why-we/star.svg" alt="star icon">
             <h3>Tajribali tarjimonlar</h3>
             <p>Bizning barcha tarjimonlarimiz o’z tillarini mukkammal bilishadi va bu sohada katta tajribaga egadir
             </p>
          </div>
          <div class="why-we__card">
             <img src="img/why-we/star.svg" alt="star icon">
             <h3>Tajribali tarjimonlar</h3>
             <p>Bizning barcha tarjimonlarimiz o’z tillarini mukkammal bilishadi va bu sohada katta tajribaga egadir
             </p>
          </div>
          <div class="why-we__card">
             <img src="img/why-we/star.svg" alt="star icon">
             <h3>Tajribali tarjimonlar</h3>
             <p>Bizning barcha tarjimonlarimiz o’z tillarini mukkammal bilishadi va bu sohada katta tajribaga egadir
             </p>
          </div>
          <div class="why-we__card">
             <img src="img/why-we/star.svg" alt="star icon">
             <h3>Tajribali tarjimonlar</h3>
             <p>Bizning barcha tarjimonlarimiz o’z tillarini mukkammal bilishadi va bu sohada katta tajribaga egadir
             </p>
          </div>
          <div class="why-we__card">
             <img src="img/why-we/star.svg" alt="star icon">
             <h3>Tajribali tarjimonlar</h3>
             <p>Bizning barcha tarjimonlarimiz o’z tillarini mukkammal bilishadi va bu sohada katta tajribaga egadir
             </p>
          </div>
          <div class="why-we__card">
             <img src="img/why-we/star.svg" alt="star icon">
             <h3>Tajribali tarjimonlar</h3>
             <p>Bizning barcha tarjimonlarimiz o’z tillarini mukkammal bilishadi va bu sohada katta tajribaga egadir
             </p>
          </div>
       </div>
    </div>
 </section>

 <!-- TRUSTED COMPANIES -->
 <section class="section trusted-companies" id="trusted">
    <div class="container">
       <h2>Bizga ishonch bildirgan kompaniyalar</h2>
       <div class="splide" data-aos="fade-up" data-aos-delay="100" data-aos-once="true">
          <div class="splide__track">
             <ul class="splide__list">
                <li class="splide__slide">
                   <img src="img/trusted-companies/1.png" alt="company name logo">
                </li>
                <li class="splide__slide">
                   <img src="img/trusted-companies/2.png" alt="company name logo">
                </li>
                <li class="splide__slide">
                   <img src="img/trusted-companies/3.png" alt="company name logo">
                </li>
                <li class="splide__slide">
                   <img src="img/trusted-companies/4.png" alt="company name logo">
                </li>
             </ul>
          </div>
       </div>
    </div>
 </section>

 <!-- FEEDBACK -->
 <section class="section feedback">
    <div class="container">
       <h2>Biz haqimizda mijozlarning fikrlari</h2>
       <div class="splide" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
          <div class="splide__track">
             <ul class="splide__list">
                <li class="splide__slide">
                   <h3>
                      <strong>Og'abek Sultonbayev</strong>
                      <span>UZoom kompaniyasi</span>
                   </h3>
                   <p>ABM agencydan minatdorman chunki ular menga ajoyib xizmat ko’rsatishdi va ABM agencydan
                      minatdorman chunki ular menga ajoyib xizmat ko’rsatishdi va ABM agencydan minatdorman</p>
                </li>
                <li class="splide__slide">
                   <h3>
                      <strong>Suhrob Abduaxatov</strong>
                      <span>Instance kompaniyasi</span>
                   </h3>
                   <p>ABM agencydan minatdorman chunki ular menga ajoyib xizmat ko’rsatishdi va ABM agencydan
                      minatdorman chunki ular menga ajoyib xizmat ko’rsatishdi va ABM agencydan minatdorman</p>
                </li>
             </ul>
          </div>
       </div>
    </div>
 </section>

 <!-- FAQ -->
 <section class="section faq">
    <div class="container">
       <h2>Ko'p beriladigan savollar</h2>
       <ul class="faq__ul">
          <li class="faq__li" data-aos="fade-right" data-aos-delay="100" data-aos-once="true">
             <div class="faq__li__header">
                <h3 class="faq__question">Qaysi tillarda tarjima ishlarini olib borasizlar?</h3>
                <div class="faq__icon">
                   <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.66878 0.849854V8.08944M7.66878 15.329V8.08944M7.66878 8.08944H14.9084H0.429199"
                         stroke="" stroke-width="2" />
                   </svg>
                </div>
             </div>
             <p class="faq__answer">
                Uzbek, Rus, Ingliz, Nemis, Fransuz, Ispan, Tojik, Xitoy, Yapon, Uzbek,
                Rus, Ingliz, Nemis, Fransuz, Ispan, Tojik, Xitoy, Yapon, Uzbek, Rus
             </p>
          </li>
          <li class="faq__li" data-aos="fade-right" data-aos-delay="100" data-aos-once="true">
             <div class="faq__li__header">
                <h3 class="faq__question">Qaysi tillarda tarjima ishlarini olib borasizlar?</h3>
                <div class="faq__icon">
                   <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.66878 0.849854V8.08944M7.66878 15.329V8.08944M7.66878 8.08944H14.9084H0.429199"
                         stroke="" stroke-width="2" />
                   </svg>
                </div>
             </div>
             <p class="faq__answer">
                Uzbek, Rus, Ingliz, Nemis, Fransuz, Ispan, Tojik, Xitoy, Yapon, Uzbek,
                Rus, Ingliz, Nemis, Fransuz, Ispan, Tojik, Xitoy, Yapon, Uzbek, Rus
             </p>
          </li>
          <li class="faq__li" data-aos="fade-right" data-aos-delay="100" data-aos-once="true">
             <div class="faq__li__header">
                <h3 class="faq__question">Qaysi tillarda tarjima ishlarini olib borasizlar?</h3>
                <div class="faq__icon">
                   <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.66878 0.849854V8.08944M7.66878 15.329V8.08944M7.66878 8.08944H14.9084H0.429199"
                         stroke="" stroke-width="2" />
                   </svg>
                </div>
             </div>
             <p class="faq__answer">
                Uzbek, Rus, Ingliz, Nemis, Fransuz, Ispan, Tojik, Xitoy, Yapon, Uzbek,
                Rus, Ingliz, Nemis, Fransuz, Ispan, Tojik, Xitoy, Yapon, Uzbek, Rus
             </p>
          </li>
          <li class="faq__li" data-aos="fade-right" data-aos-delay="100" data-aos-once="true">
             <div class="faq__li__header">
                <h3 class="faq__question">Qaysi tillarda tarjima ishlarini olib borasizlar?</h3>
                <div class="faq__icon">
                   <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.66878 0.849854V8.08944M7.66878 15.329V8.08944M7.66878 8.08944H14.9084H0.429199"
                         stroke="" stroke-width="2" />
                   </svg>
                </div>
             </div>
             <p class="faq__answer">
                Uzbek, Rus, Ingliz, Nemis, Fransuz, Ispan, Tojik, Xitoy, Yapon, Uzbek,
                Rus, Ingliz, Nemis, Fransuz, Ispan, Tojik, Xitoy, Yapon, Uzbek, Rus
             </p>
          </li>
       </ul>
    </div>
 </section>

 <!-- CONTACT US -->
 <section class="section contact-us" id="contact">
    <div class="container">
       <h2 class="visually-hidden">Biz bilan bog`lanish</h2>
       <div class="contact-us__field">
          <div class="contact-us__field__left" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
             <img src="img/contact-us/decoration.png" alt="decration image">
          </div>
          <div class="contact-us__field__right" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
             <h3>Bizning menejerlarimiz siz bilan bog’lanishini xoxlasangiz hozirni ozida pastdagi
                formani to’ldiring</h3>
             <form class="contact-us__form" method="POST" action="/">
                  <% if(error) {%>
                     <div class="alert-danger">
                        Telefon raqam yoki ism noto`g`ri kiritildi. Iltimos qaytadan urinib ko`ring
                     </div>
                  <% } %>
                  <% if(success) {%>
                     <div class="alert-success">
                        Murojaatingiz qilganingiz uchun tashakkur. Siz bilan tez orada aloqaga chiqamiz!
                     </div>
                  <% } %>
                <input class="contact-us__input" name="name" type="text" placeholder="Ismingiz" required minlength="3" maxlength="64">
                <input class="contact-us__input" id="customer_phone" name="phone" type="tel" placeholder="Telefon raqam" required>
                <button class="contact-us__submit" type="submit">Jo'natish</button>
             </form>
          </div>
       </div>
    </div>
 </section>

<%- include("parts/footer") %>