<%- include("parts/header") %>
<% var error, success %>

<div class="loader">
    <div class="loader__inner">
        <img src="/img/icons/loader.png" alt="">
    </div>
</div>

<!-- INTRO -->
<section class="site-intro">
    <div class="flex-container">
        <div class="site-intro__left" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
            <h1></h1>
            <p></p>
            <a href="#contact"></a>
        </div>
        <div class="site-intro__right" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
            <img src="img/intro/girl.png" alt="">
        </div>
    </div>
</section>

<!--ABOUT US-->
<section class="section about-us" id="about-us">
    <div class="container">
        <h2></h2>
        <p data-aos="zoom-in" data-aos-delay="100" data-aos-once="true"></p>
    </div>
    <img class="about-us__decoration" src="img/about-us/bg-left.png" alt="">
    <img class="about-us__decoration about-us__decoration--right" src="img/about-us/bg-right.png" alt="">
</section>

<!-- SERVICES -->
<section class="section services" id="services">
    <div class="container">
        <h2></h2>
        <div class="services-cards"></div>
    </div>
</section>

<!-- WHY WE -->
<section class="section why-we" id="why-we">
    <div class="container">
        <h2></h2>
        <div class="why-we__cards" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">

        </div>
    </div>
</section>

<!-- TRUSTED COMPANIES -->
<section class="section trusted-companies" id="trusted">
    <div class="container">
        <h2></h2>
        <div class="splide" data-aos="fade-up" data-aos-delay="100" data-aos-once="true">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <a href="https://www.mitsubishicorp.com">
                            <img src="img/companies/mitsubishi.png" alt="">
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="http://www.tepsco.co.jp/english/index.html">
                            <img src="img/companies/tepsco.png" alt="">
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="https://zizi-uz.all.biz/">
                            <img src="img/companies/jelegum.png" alt="">
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="https://turonbank.uz">
                            <img src="img/companies/turonbank.png" alt="">
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="https://imexgroup.uz/">
                            <img src="img/companies/imex.png" alt="">
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="https://www.ung.uz/">
                            <img src="img/companies/uzbneftgaz.png" alt="">
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="https://www.landtech.uz/">
                            <img src="img/companies/landtech.png" alt="">
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="http://www.gkd.uz/">
                            <img src="img/companies/gkd.png" alt="">
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="http://mdis.uz/">
                            <img src="img/companies/mdis.png" alt="">
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a href="https://familygroup.uz/">
                            <img src="img/companies/family.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- FEEDBACK -->
<section class="section feedback">
    <div class="container">
        <h2></h2>
        <div class="splide" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
            <div class="splide__track">
                <ul class="splide__list">
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- FAQ -->
<section class="section faq">
    <div class="container">
        <h2></h2>
        <ul class="faq__ul">
        </ul>
    </div>
</section>

<!-- CONTACT US -->
<section class="section contact-us" id="contact">
    <div class="container">
        <h2 class="visually-hidden">Biz bilan bog`lanish</h2>
        <div class="contact-us__field">
            <div class="contact-us__field__left" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
                <img src="img/contact-us/decoration.png" alt="decration image">
            </div>
            <div class="contact-us__field__right" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
                <h3>Bizning menejerlarimiz siz bilan bog’lanishini xoxlasangiz hozirni ozida pastdagi
                    formani to’ldiring</h3>
                <form class="contact-us__form">
                    <input class="contact-us__input" id="customer_name" name="name" type="text" placeholder="Ismingiz" required
                           minlength="3" maxlength="64">
                    <input class="contact-us__input" id="customer_phone" name="phone" type="tel"
                           placeholder="Telefon raqam" required>
                    <button class="contact-us__submit" type="submit">Jo'natish</button>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="modal d-none">
    <div class="modal__content"></div>
</div>

<%- include("parts/footer") %>