<!-- FOOTER -->
<footer class="footer">
    <h2 class="visually-hidden">Footer</h2>
    <div class="footer-top">
        <div class="flex-container">
            <div class="footer-top__left">
                <a class="footer-logo" href="#">ABM.UZ</a>
            </div>
            <div class="footer-top__right">
                <div class="footer-top__column">
                    <h3 class="footer-top__heading">Aloqa</h3>
                    <ul class="footer-top__ul">
                        <li class="footer-top__li mb-16">
                            Feel free to get in touch with us via phone or send us a message.
                        </li>
                        <li class="footer-top__li">
                            <a class="footer-top__link" href="tel: +998712007701">+998712007701</a>
                        </li>
                        <li class="footer-top__li">
                            <a class="footer-top__link" href="mailto: abmuz@yandex.ru">abmuz@yandex.ru</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="flex-container">
            <div class="footer-bottom__copyright">
                Copyright © 2021 <a href="https://abm.uz"> ABM INVEST </a>. Instant - group. All rights reserved.
            </div>
            <div class="footer-bottom__socials">
                <a href="https://t.me/abmuz">
                    <img src="img/icons/facebook.svg" alt="facebook">
                </a>
                <a href="https://t.me/abmuz">
                    <img src="img/icons/telegram.svg" alt="telegram">
                </a>
            </div>
        </div>
    </div>
    <div class="footer-top__info">
        <div class="flex-container">
            <div class="footer-top__item">
                <img src="img/icons/phone2.svg" alt="">
                <div>
                    <a href="tel: +998712007701">+998 71 200 77 01</a>
                    <a href="tel: +998712555012">+998 71 255 50 12</a>
                </div>
            </div>
            <div class="footer-top__item">
                <img src="img/icons/mail.svg" alt="">
                <div>
                    <a href="mailto: abmuz@yandex.ru">abmuz@yandex.ru</a>
                </div>
            </div>
            <div class="footer-top__item">
                <img src="img/icons/location.svg" alt="">
                <div>
                    <a href="https://www.google.com/maps/place/41%C2%B017'06.9%22N+69%C2%B016'10.8%22E/@41.28525,69.26967,16z">г.Ташкент, Мирабадский р-н,ул.Нукус 85/1. к.413 (ориентир: Посольство Российской Федерации, ресторан Восточный квартал, UZONLINE (АТС) Мирабадского района</a>
                </div>
            </div>
        </div>
        <div class="footer-top__info__socials">
            <a href="https://t.me/abmuz">
                <img src="img/icons/telegram.svg" alt="images">
            </a>
            <a href="https://t.me/abmuz">
                <img src="img/icons/facebook.svg" alt="images">
            </a>
        </div>
    </div>
</footer>

<script src="/scripts/aos.js"></script>
<script src="/scripts/mask-input.js"></script>
<script src="/scripts/data.js"></script>
<script src="/scripts/languages.js"></script>
<script src="/scripts/splide.min.js"></script>
<script src="/scripts/script.js"></script>
<script></script>
</body>
</html>