<!-- FOOTER -->
<footer class="footer">
    <div class="container">

    </div>
</footer>

<script src="/scripts/aos.js"></script>
<script src="/scripts/mask-input.js"></script>
<script src="/scripts/data.js"></script>
<script src="/scripts/languages.js"></script>
<script src="/scripts/splide.min.js"></script>
<script src="/scripts/form.js"></script>
<script src="/scripts/script.js"></script>
<script></script>
</body>
</html>