<!-- FOOTER -->
<footer class="footer">
    <h2 class="visually-hidden">Footer</h2>
    <div class="footer-top">
        <div class="flex-container">
            <div class="footer-top__left">
                <a class="footer-logo" href="#">ABM.UZ</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
            </div>
            <div class="footer-top__right">
                <div class="footer-top__column">
                    <h3 class="footer-top__heading">Community</h3>
                    <ul class="footer-top__ul">
                        <li class="footer-top__li">
                            <a class="footer-top__link" href="#">For Talents</a>
                        </li>
                        <li class="footer-top__li">
                            <a class="footer-top__link" href="#">For Companies</a>
                        </li>
                        <li class="footer-top__li">
                            <a class="footer-top__link" href="#">Facebook Group</a>
                        </li>
                        <li class="footer-top__li">
                            <a class="footer-top__link" href="#">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-top__column">
                    <h3 class="footer-top__heading">Biz haqimizda</h3>
                    <ul class="footer-top__ul">
                        <li class="footer-top__li">
                            <a class="footer-top__link" href="#">For Talents</a>
                        </li>
                        <li class="footer-top__li">
                            <a class="footer-top__link" href="#">For Companies</a>
                        </li>
                        <li class="footer-top__li">
                            <a class="footer-top__link" href="#">Facebook Group</a>
                        </li>
                        <li class="footer-top__li">
                            <a class="footer-top__link" href="#">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-top__column">
                    <h3 class="footer-top__heading">Aloqa</h3>
                    <ul class="footer-top__ul">
                        <li class="footer-top__li mb-16">
                            Feel free to get in touch with us via phone or send us a message.
                        </li>
                        <li class="footer-top__li">
                            <a class="footer-top__link" href="tel: +998999639773">+99894-111-11-11</a>
                        </li>
                        <li class="footer-top__li">
                            <a class="footer-top__link" href="mailto: info@finity.com">info@finity.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="flex-container">
            <div class="footer-bottom__copyright">
                Copyright © 2021 <a href="https://abm.uz">ABM INVEST</a>. Instant - group. All rights reserved.
            </div>
            <div class="footer-bottom__socials">
                <a href="#">
                    <img src="img/icons/instagram.svg" alt="instagram">
                </a>
                <a href="#">
                    <img src="img/icons/facebook.svg" alt="facebook">
                </a>
                <a href="#">
                    <img src="img/icons/telegram.svg" alt="telegram">
                </a>
            </div>
        </div>
    </div>
    <div class="footer-top__info">
        <div class="flex-container">
            <div class="footer-top__item">
                <img src="img/icons/phone2.svg" alt="">
                <div>
                    <a href="tel: +998989827391">+998989827391</a>
                    <a href="tel: +998989827391">+998989827391</a>
                </div>
            </div>
            <div class="footer-top__item">
                <img src="img/icons/mail.svg" alt="">
                <div>
                    <a href="mailto: mail@mail.ru">mail@mail.ru</a>
                </div>
            </div>
            <div class="footer-top__item">
                <img src="img/icons/location.svg" alt="">
                <div>
                    <a href="#">Mirzo Ulugbek ko’chasi 70-uy1</a>
                </div>
            </div>
        </div>
        <div class="footer-top__info__socials">
            <a href="#">
                <img src="img/icons/telegram.svg" alt="images">
            </a>
            <a href="#">
                <img src="img/icons/instagram.svg" alt="images
             ">
            </a>
            <a href="#">
                <img src="img/icons/facebook.svg" alt="images">
            </a>
        </div>
    </div>
</footer>

<script src="/scripts/aos.js"></script>
<script src="/scripts/mask-input.js"></script>
<script src="/scripts/data.js"></script>
<script src="/scripts/languages.js"></script>
<script src="/scripts/splide.min.js"></script>
<script src="/scripts/script.js"></script>
<script></script>
</body>
</html>