<!doctype html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="/css/splide.min.css">
   <link rel="stylesheet" href="/css/aos.css">
   <link rel="stylesheet" href="/css/normalize.css">
   <link rel="stylesheet" href="/css/styles.css">
   <title>ABM tarjimonlik firmasi</title>
</head>

<body>

    <!-- HEADER -->
   <header class="site-header">
    <div class="side-header__top">
       <div class="flex-container">
          <a class="logo" href="#">
             ABM.UZ
          </a>
          <a class="phone" href="tel: +998999639773">
             <img src="img/icons/phone.svg" alt="phone icon">
             <span>+998999639773</span>
          </a>
          <img class="menu-icon" src="img/icons/menu.svg" alt="menu icon">
       </div>
    </div>
    <div class="site-header__bottom">
       <div class="container">
          <nav class="site-nav">
             <ul class="site-nav__ul">
                <li class="site-nav__li row-language">
                   <div class="row-language__item">UZB</div>
                   <div class="row-language__item">RU</div>
                   <div class="row-language__item">ENG</div>
                </li>
                <li class="site-nav__li">
                   <a class="site-nav__link" href="#about-us">Biz haqimizda</a>
                </li>
                <li class="site-nav__li">
                   <a class="site-nav__link" href="#services">Servislar</a>
                </li>
                <li class="site-nav__li">
                   <a class="site-nav__link" href="#why-we">Nega aynan biz?</a>
                </li>
                <li class="site-nav__li">
                   <a class="site-nav__link" href="#trusted">Hamkorlar</a>
                </li>
                <li class="site-nav__li">
                   <a class="site-nav__link" href="#contact">Aloqa</a>
                </li>
                <li class="site-nav__li dropdown-language">
                   <div class="select">
                      <div class="select__selected"></div>
                      <ul class="select__list d-none">
                          <li class="select__item">UZ</li>
                          <li class="select__item">RU</li>
                          <li class="select__item">EN</li>
                      </ul>
                  </div>
                </li>
             </ul>
             <div class="site-nav__close">
                &times;
             </div>
          </nav>
       </div>
    </div>
 </header>