	<!--footer-->
	<footer class="footer">
		<div class="container">
			<div class="row align-items-center flex-row-reverse">
				<div class="col-lg-12 col-sm-12   text-center">
					Copyright © 2021 <a href="https://abm.uz">ABM INVEST</a>. Instant - group. All rights reserved.
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer-->

	</div>
	<!-- End app-content-->
	</div>
	</div>
	<!-- End Page -->

	<!-- Back to top -->
	<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

	<!-- Jquery js-->
	<script src="/admin/js-dark/vendors/jquery-3.2.1.min.js"></script>

	<!--Bootstrap.min js-->
	<script src="/admin/plugins/bootstrap/popper.min.js"></script>
	<script src="/admin/plugins/bootstrap/js/bootstrap.min.js"></script>

	<!--Jquery Sparkline js-->
	<script src="/admin/js-dark/vendors/jquery.sparkline.min.js"></script>


	<!-- Sidebar Accordions js -->
	<script src="/admin/plugins/accordion1/js/easyResponsiveTabs.js"></script>

	<!-- Custom scroll bar js-->
	<script src="/admin/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

	<!-- Rightsidebar js -->
	<script src="/admin/plugins/sidebar/sidebar.js"></script>

	<!-- Custom js-->
	<script src="/admin/js-dark/custom.js"></script>
</body>

</html>