<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Title -->
	<title>ABM</title>

	<!--Bootstrap.min css-->
	<link rel="stylesheet" href="/admin/plugins/bootstrap/css/bootstrap.min.css">

	<!-- Dashboard css -->
	<link href="/admin/css-dark/style.css" rel="stylesheet" />

	<!-- Custom scroll bar css-->
	<link href="/admin/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

	<!-- Horizontal-menu css -->
	<link href="/admin/plugins/horizontal-menu/dropdown-effects/fade-down.css" rel="stylesheet">
	<link href="/admin/plugins/horizontal-menu/dark-horizontalmenu.css" rel="stylesheet">

	<!--Daterangepicker css-->
	<link href="/admin/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

	<!-- Owl Theme css-->
	<link href="/admin/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">

	<!-- Sidebar Accordions css -->
	<link href="/admin/plugins/accordion1/css/dark-easy-responsive-tabs.css" rel="stylesheet">

	<!-- Morris  Charts css-->
	<link href="/admin/plugins/morris/morris.css" rel="stylesheet" />

	<!---Font icons css-->
	<link href="/admin/plugins/iconfonts/plugin.css" rel="stylesheet" />
	<link href="/admin/plugins/iconfonts/icons.css" rel="stylesheet" />
	<link href="/admin/fonts/fonts/font-awesome.min.css" rel="stylesheet">
</head>
<body class="app">